<div class="repository-item">
  <div class="inner-block">
    <img class="avatar" src="{{repository.owner && repository.owner.avatar_url }}" alt="Avatar">

    <div class="info">
      <h6 class="title">{{repository.full_name}}</h6>
      <p class="text">{{repository.description}}</p>
    </div>

    <div class="btn-sample" [ngSwitch]="origin">
      <button class="btn-favorite" (click)="doAdd()" *ngSwitchCase="originEnum.remote">
        <img
          src="./assets/star-outline.svg"
          alt="Star"
          class="favorite-add"
        >
      </button>

      <button class="btn-favorite" (click)="doRemove()" *ngSwitchCase="originEnum.local">
        <img
          src="./assets/star-full.svg"
          alt="Star"
          class="favorite-add"
        >
      </button>
    </div>
  </div>

  <div class="action">
    <div class="rating"><img src="./assets/rating-star.svg" alt="Rating star">{{repository.forks_count}}</div>
    <div class="language">{{repository.language}}</div>
    <a href="{{repository.html_url}}" class="link" target="_blank">Repository link</a>
  </div>
</div>
