.auth {
  width: 100%;
  height: auto;
  max-width: 450px;
  display: block;
  margin: 200px auto;
}

.auth-field {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.card-title {
  margin: 0;
}
